@font-face {
  font-family: "Baloo2";
  src: url("./Baloo2-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Baloo2";
  src: url("./Baloo2-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Baloo2";
  src: url("./Baloo2-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Baloo2";
  src: url("./Baloo2-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Baloo2";
  src: url("./Baloo2-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}
